# アプリケーション概要
- 情報源となるソースを元にAIとチャットできるアプリ
- ソースはWord,Excel,PDF形式の日本語で書かれている文書を指定できる
    - ソースは複数登録できる

# 実装上の注意
- Mastra関連のコードはsrc/mastra内で記載すること
- MastraのRAGのベクトル検索の仕組みは利用しない
- TypeScriptやzodを用いた型安全を意識すること
- README.mdにアプリの構成やDBセットアップ、アプリ起動方法など記載すること
- Mastraを利用する際はまず、ドキュメントを参照して、正しくコーディング方法を参照した上で、実装すること
- Mastraのドキュメントで実装方法やコード例を把握した上で、同じようなスタイルでコーディングすること
- 機能実装についてまず、Mastraのライブラリを利用できないか検討すること
- プロンプトやコメントは全て日本語で記載すること
    - プロンプトを作成する際はシステムプロンプトやユーザプロンプトの違いも意識すること
    - 効果的なプロンプトを記載すること
- DBはすべてLibSQLを利用すること
    - DBのパスは.envで管理すること
- 不明点があれば適当に実装するのではなく、質問すること