# アプリケーション概要
- 情報源となるソースを元にAIとチャットできるデスクトップアプリ
- UIはElectronとReact、バックエンドはMastraをベースに開発する

# 実装上の注意
- Mastraについては実装する際はまずMCPでドキュメントや実装例を参考にしてから正確な情報やベストプラクティスに基づいてコーディングすること
- プロジェクト全体を把握して、全ての実装が必要箇所を正しく洗い出してから実装すること
- UIは実際に市場に投入できるくらいレベルの高い、スタイリッシュなUIにすること
- TypeScriptやzodを用いた型安全なコードを意識すること
- electronについてはelectron-react-boilerplateのテンプレートを適用済み
- コメントは日本語で記載すること
- Reactライブラリが使えるのであれば積極的に利用すること
    - 特にUIについてはMUIを第一優先に使い、カスタマイズしたい場合はshadcn/uiを利用すること
    - ライブラリを追加する際は安定稼働バージョンを採用すること
- まずはプロジェクト全体の構成やコードを確認した上でコーディングすること
- 不明点があれば適当に実装するのではなく、質問すること